<html lang="en">
<head>
    <title>Participants</title>

    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/task.js"></script>
    <script src="/assets/js/api.js"></script>
    <script src="/assets/js/participants-component.js"></script>
    <script src="/assets/js/dispatcher.js"></script>
    <script src="/assets/js/participant.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/stabas.css"/>
</head>
<body>
{{ .menu}}

<div class="participants-container" id="participant-app">

</div>

<script type="application/javascript">
    let dispatcher = new Dispatcher();
    let apiClient = new ApiClient();
    apiClient.callback401 = (response) => {
        dispatcher.dispatch('handle401', response)
    }
    let participantsComponent = null
    let redrawParticipantsList = null
    let verboseConsole = false

    ParticipantsComponent.initialize(dispatcher, apiClient).then(
        (pc) => {
            participantsComponent = pc

            console.log('participantsComponent', participantsComponent)


            redrawParticipantsList = () => {
                let tasksListDiv = document.getElementById('participant-app');
                clearTag(tasksListDiv);
                tasksListDiv.appendChild(participantsComponent.renderParticipants());
            }

            redrawParticipantsList();
        }
    )

    dispatcher.addListener('afterAddParticipant', ([e, participant]) => {
        if ( verboseConsole ) {
            console.log ( 'afterAddParticipant called', e, participant)
        }
        redrawParticipantsList();
    })

    dispatcher.addListener('onDeleteParticipant', ([e, participant]) => {
        if ( verboseConsole ) {
            console.log ( 'onDeleteParticipant called', e, participant)
        }
        participantsComponent.removeParticipant(participant.id)
    })
    dispatcher.addListener('afterDeletingParticipant', () => {
        // console.log('afterDeletingParticipant listener called')
        redrawParticipantsList();
    })

    dispatcher.addListener('loadParticipantFields', ([participant, loadCallback]) => {
        apiClient.loadParticipant(participant.id).then(
            (participantDto) => loadCallback(participantDto)
        )
    })

    dispatcher.addListener('regenerateParticipantPassword', ([participant, loadCallback]) => {
        apiClient.regenerateParticipantPassword(participant.id).then(
            (participantDto) => loadCallback(participantDto)
        )
    })

    dispatcher.addListener('onUpdateParticipant', ([event, participant, dataToUpdate, callbackAfterUpdate]) => {
        if ( verboseConsole ) {
            console.log ( 'onUpdateParticipant called', event, participant)
        }
        apiClient.updateParticipant(participant.id, dataToUpdate).then((participantDto) => {
            if (participantDto) {
                participant.name = participantDto.name
            }

            callbackAfterUpdate()
        })
    })

    dispatcher.addListener('handle401', (response)=>{
        console.log('dispatcher handling 401', response)
        response.json().then((data)=> {
            // console.log('dispatcher 401 response content:', data)
            let message = data.error || "Unauthenticated request"
            alert (message)
            window.location.href = '/login';
        })
    })
</script>

</body>
</html>