<html lang="lt">
<head>
    <title>Štabo konsolė</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="/assets/js/tasks.js"></script>
    <script src="/assets/js/dispatcher.js"></script>
    <script type="application/javascript">
        function initializeTasks(dispatcher) {
            let tasksList = new TasksList(dispatcher);
            let details2Div = document.getElementById('taskDetails2');
            tasksList.addTask(
                (new Task("Prepare to commendant hour squad I", 1, new Date()))
                    .setStatus("new")
                    .setSender(1)
                    .setReceivers([1, 2])
                    .setResult('aaa')
                    .setDetails2Div(details2Div) // TODO refactor
                    .setDispatcher(dispatcher)
            );
            tasksList.addTask(
                (new Task("Prepare to commendant hour squad II", 2, new Date()))
                    .setStatus("sent")
                    .setSender(2)
                    .setReceivers([2, 3])
                    .setResult('bbb')
                    .setDetails2Div(details2Div) // TODO refactor
                    .setDispatcher(dispatcher)
            );
            tasksList.addTask(
                (new Task("Prepare to commendant hour squad III", 3, new Date()))
                    .setStatus("received")
                    .setSender(3)
                    .setReceivers([1, 3])
                    .setResult('ccc')
                    .setDetails2Div(details2Div) // TODO refactor
                    .setDispatcher(dispatcher)
            );

            return tasksList;
        }
    </script>
</head>
<body>
Prototype

<div id="app">
    <div id="tasksList">

    </div>
    <div id="taskDetails2">
    </div>
</div>
<script type="application/javascript">
    let dispatcher = new Dispatcher();

    let tasksList = initializeTasks(dispatcher);


    let redrawTasksList = () => {
        let tasksListDiv = document.getElementById('tasksList');
        clearTag(tasksListDiv);
        tasksListDiv.appendChild(tasksList.renderTasks());
    }
    tasksList.setRedrawHook(redrawTasksList);

    redrawTasksList();

    const taskDetailsOuterDiv = document.getElementById('taskDetails2')
    // =================== events initialization ===================================
    dispatcher.addListener('taskSaved', (task)=>console.log('Task saved '+task.id ))
    dispatcher.addListener('taskDetailsRendered', (taskInnerDiv) => {
        clearTag(taskDetailsOuterDiv)
        taskDetailsOuterDiv.appendChild(taskInnerDiv)
    } )

    // =============================================================================

</script>
</body>
</html>