<html lang="lt">
<head>
    <title>Štabo konsolė</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="/assets/js/messages.js" > </script>
    <script type="application/javascript">
        // TODO
        function initializeMessages() {
            let messagesList = new MessagesList();
            messagesList.addMessage( new Message("Prepare to commendant hour squad I") );
            messagesList.addMessage( new Message("Prepare to commendant hour squad II") );
            messagesList.addMessage( new Message("Prepare to commendant hour squad III") );

            return messagesList;
        }
    </script>
</head>
<body>
Prototype

<button onclick="testMessage('testuojam')">
    test
</button>

<div id="app">

</div>
<script type="application/javascript">
    let appDiv = document.getElementById('app');

    let messagesList = initializeMessages();
    appDiv.appendChild( messagesList.renderMessages() );

</script>
</body>
</html>