<html lang="lt">
<head>
    <title>Štabo konsolė</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="/assets/js/tasks.js" > </script>
    <script type="application/javascript">
        function initializeTasks() {
            let tasksList = new TasksList();
            tasksList.addTask( new Task("Prepare to commendant hour squad I", 1, new Date()) );
            tasksList.addTask( new Task("Prepare to commendant hour squad II", 2, new Date()) );
            tasksList.addTask( new Task("Prepare to commendant hour squad III", 3, new Date()) );

            return tasksList;
        }
    </script>
</head>
<body>
Prototype

<div id="app">
    <div id="tasksList">

    </div>
    <div id="taskDetails">
        <table>
            <tr><td>ID</td><td>111</td></tr>
            <tr>
                <td><label for="message">Message</label></td>
                <td><input type="text" name="message" id="message" /></td>
            </tr>
            <tr>
                <td><label for="result">Result</label></td>
                <td><input type="text" name="result" id="result" /></td>
            </tr>
            <tr>
                <td><label for="status" >Status</label></td>
                <td><select name="status" id="status">
                    <option value="new">New</option>
                    <option value="sent">Sent</option>
                    <option value="received">Received</option>
                    <option value="executing">Executing</option>
                    <option value="finished">Finished</option>
                    <option value="closed">Closed</option>
                </select></td>
            </tr>
            <tr>
                <td><label for="sender">Sender</label></td>
                <td><select name="sender" id="sender">
                    <option>Participant1</option>
                    <option>Participant2</option>
                    <option>Participant3</option>
                </select>
                </td>
            </tr>
            <tr>
                <td><label for="receivers">Receivers</label></td>
                <td><select multiple="multiple" id="receivers" name="receivers">
                    <option>Participant1</option>
                    <option>Participant2</option>
                    <option>Participant3</option>
                </select>
                </td>
            </tr>
            <tr><td>Created at</td><td>2025-10-18 11:30</td></tr>
            <tr><td>Sent at</td><td>2025-10-18 11:30</td></tr>
            <tr><td>Received at</td><td>2025-10-18 11:30</td></tr>
            <tr><td>Executing at</td><td>2025-10-18 11:30</td></tr>
            <tr><td>Finished at</td><td>2025-10-18 11:30</td></tr>
            <tr><td>Closed at</td><td>2025-10-18 11:30</td></tr>
<!--            <tr>-->
<!--                <td>Parent id</td><td>0</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Children ids</td><td>0</td>-->
<!--            </tr>-->
        </table>
        <button>Save</button>
    </div>
</div>
<script type="application/javascript">
    let tasksListDiv = document.getElementById('tasksList');

    let tasksList = initializeTasks();
    tasksListDiv.appendChild( tasksList.renderTasks() );

    console.log('tasksList', tasksList)
</script>
</body>
</html>