<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Headquarters console: settings</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <script src="/assets/js/api.js"></script>
    <script src="/assets/js/settings-component.js"></script>
    <script src="/assets/js/dispatcher.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/util.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/settings.css"/>

</head>

<body>
{{ .menu}}

<div class="settings_container" id="settings-app">
</div>

<script type="application/javascript">
    let dispatcher = new Dispatcher();
    let apiClient = new ApiClient();
    let settingsComponent = null
    let redrawSettingsList = null

    dispatcher.addListener('onSaveSettings', (settingsData) => {
        settingsComponent.updateSettings(settingsData);
    });

    SettingsComponent.initialize(dispatcher, apiClient).then(
        (sc) => {
            settingsComponent = sc
            console.log('settingsComponent', settingsComponent)

            redrawSettingsList = () => {
                let settingsDiv = document.getElementById('settings-app');
                clearTag(settingsDiv);
                settingsDiv.appendChild(settingsComponent.renderSettings());
            }

            redrawSettingsList();
        }
    )
</script>

</body>
</html>