<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nustatymai</title>

    <script src="/assets/js/settings-component.js"></script>
    <script src="/assets/js/dispatcher.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/util.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/settings.css"/>

</head>

<body>
{{ .menu}}

<div class="settings_container" id="settings-app">
</div>

<script type="application/javascript">
    let dispatcher = new Dispatcher();
    let settingsComponent = null
    let redrawSettingsList = null

    SettingsComponent.initialize(dispatcher).then(
        (sc) => {
            settingsComponent = sc
            console.log('settingsComponent', settingsComponent)

            redrawSettingsList = () => {
                let settingsDiv = document.getElementById('settings-app');
                clearTag(settingsDiv);
                settingsDiv.appendChild(settingsComponent.renderSettings());
            }

            redrawSettingsList();
        }
    )
</script>

</body>
</html>