<html lang="lt">
<head>
    <title>Štabo konsolė: užduotys</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/task.js"></script>
    <script src="/assets/js/tasks-component.js"></script>
    <script src="/assets/js/dispatcher.js"></script>
    <script src="/assets/js/participant.js"></script>
    <script src="/assets/js/api.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/stabas.css" />
</head>
<body>
{{ .menu}}

<div id="app" >
    <div id="tasksList" class="tasks-list">

    </div>
    <div id="taskDetails2" class="task-details">
    </div>
</div>
<script type="application/javascript">
    let dispatcher = new Dispatcher();
    let redrawTasksList = null;
    let tasksComponent = null;
    let apiClient = new ApiClient();

    TasksComponent.initialize(dispatcher, apiClient).then(
        (tc) => {
            tasksComponent = tc;


            // console.log('tasks.html[28], tasks amount', tasksComponent.tasks.length )
            redrawTasksList = () => {
                let tasksListDiv = document.getElementById('tasksList');
                clearTag(tasksListDiv);
                tasksListDiv.appendChild(tasksComponent.renderTasks());
            }
            redrawTasksList();
            initializeListeners(tasksComponent)
        }
    );

    // =================== events initialization ===================================
    function initializeListeners(tasksComponent) {
        const taskDetailsOuterDiv = document.getElementById('taskDetails2')
        dispatcher.addListener('taskSaved', (task) => {
            console.log('Task saved ' + task.id)
            redrawTasksList()
            tasksComponent.disableSaveButton();
        })
        dispatcher.addListener('taskDetailsRendered', (taskInnerDiv) => {
            clearTag(taskDetailsOuterDiv)
            taskDetailsOuterDiv.appendChild(taskInnerDiv)
            taskDetailsOuterDiv.style.display = 'block';
        })

        dispatcher.addListener('deleteTaskPressed', ([e, taskId]) => tasksComponent.deleteTask(e, taskId))
        dispatcher.addListener('onAddTask', () => {
            redrawTasksList();
            clearTag(taskDetailsOuterDiv)
        })

        dispatcher.addListener('afterDeleteTask', (taskId) => {
            redrawTasksList();
            clearTag(taskDetailsOuterDiv)
        })

        dispatcher.addListener('inputReceivers', ([e, taskId]) => {
            // console.log('task ' + taskId + ' receivers input', e)
            tasksComponent.enableSaveButton()
        })

        dispatcher.addListener('inputSender', ([e, taskId]) => {
            // console.log('task ' + taskId + ' sender input', e)
            tasksComponent.enableSaveButton()
        })

        dispatcher.addListener('inputStatus', ([e, taskId]) => {
            // console.log('task ' + taskId + ' status input', e)
            tasksComponent.enableSaveButton()
        })

        dispatcher.addListener('inputMessage', ([e, taskId]) => {
            // console.log('task ' + taskId + ' message input', e)
            tasksComponent.enableSaveButton()
        })

        dispatcher.addListener('inputResult', ([e, taskId]) => {
            // console.log('task ' + taskId + ' result input', e)
            tasksComponent.enableSaveButton()
        });
        dispatcher.addListener('afterChangeStatus', ([e, taskId]) => {
            console.log('afterChangeStatus event received')
            redrawTasksList();
        });

        dispatcher.addListener('hideDetailsPressed', (e) => {
            taskDetailsOuterDiv.style.display = 'none'
        });

        dispatcher.addListener('timerTick', ()=> {
            console.log('timerTick called')
            // tasksComponent.setTimers(new Date())
            // TODO reloadTasks
        })
    }

    // =============================================================================

</script>
</body>
</html>