<html lang="lt">
<head>
    <title>Štabo konsolė: užduotys</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/task.js"></script>
    <script src="/assets/js/tasks-component.js"></script>
    <script src="/assets/js/dispatcher.js"></script>
    <script src="/assets/js/participant.js"></script>
    <script src="/assets/js/api.js"></script>
    <script src="/assets/js/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/stabas.css"/>
</head>
<body>
{{ .menu}}

<div id="app">
    <button onclick="reloadAndRedrawTasksList()">Reload</button>
    <div id="tasksList" class="tasks-list">

    </div>
    <div id="taskDetails2" class="task-details">
    </div>
</div>
<script type="application/javascript">
    let dispatcher = new Dispatcher();
    let redrawTasksList = null;
    let tasksComponent = null;
    let apiClient = new ApiClient();
    let reloadAndRedrawTasksList = null;

    TasksComponent.initialize(dispatcher, apiClient).then(
        (tc) => {
            tasksComponent = tc;

            // console.log('tasks.html[28], tasks amount', tasksComponent.tasks.length )
            redrawTasksList = () => {
                let tasksListDiv = document.getElementById('tasksList');
                clearTag(tasksListDiv);
                tasksListDiv.appendChild(tasksComponent.renderTasks());
            }

            reloadAndRedrawTasksList = () => tasksComponent.reloadSettings().then(() =>
                tasksComponent.reloadParticipants().then(() =>
                    tasksComponent.reloadTasks().then(() => redrawTasksList())
                )
            )

            redrawTasksList();
            initializeListeners(tasksComponent)
        }
    );

    // =================== events initialization ===================================
    function initializeListeners(tasksComponent) {
        const taskDetailsOuterDiv = document.getElementById('taskDetails2')

        dispatcher.addListener('taskSaved', (task) => {
            console.log('Task saved ' + task.id)
            redrawTasksList()
            let taskDetailsDiv = task.renderTaskDetailsFull(null, () => tasksComponent.participants);
            dispatcher.dispatch('taskDetailsRendered', taskDetailsDiv)
            tasksComponent.disableSaveButton();
        })

        dispatcher.addListener('taskSavedPartially', (task) => {
            console.log('Task saved partially ' + task.id)
            alert('Was changes from another editor, look/modify values and save again.')
            redrawTasksList()

            let taskDetailsDiv = task.renderTaskDetailsFull(null, () => tasksComponent.participants);
            dispatcher.dispatch('taskDetailsRendered', taskDetailsDiv)
            tasksComponent.enableSaveButton();
        })

        dispatcher.addListener('taskDetailsRendered', (taskInnerDiv) => {
            clearTag(taskDetailsOuterDiv)
            taskDetailsOuterDiv.appendChild(taskInnerDiv)
            taskDetailsOuterDiv.style.display = 'block';
        })

        dispatcher.addListener('deleteTaskPressed', ([e, taskId]) => tasksComponent.deleteTask(e, taskId))

        dispatcher.addListener('onAddTask', () => {
            redrawTasksList();
            clearTag(taskDetailsOuterDiv)
        })

        dispatcher.addListener('afterDeleteTask', (taskId) => {
            redrawTasksList();
            clearTag(taskDetailsOuterDiv)
        })

        dispatcher.addListener('inputReceivers', ([e, taskId]) => {
            // console.log('task ' + taskId + ' receivers input', e)
            tasksComponent.enableSaveButton()
        })

        dispatcher.addListener('inputSender', ([e, taskId]) => {
            // console.log('task ' + taskId + ' sender input', e)
            tasksComponent.enableSaveButton()
        })

        dispatcher.addListener('inputStatus', ([e, taskId]) => {
            // console.log('task ' + taskId + ' status input', e)
            tasksComponent.enableSaveButton()
        })

        dispatcher.addListener('inputMessage', ([e, taskId]) => {
            // console.log('task ' + taskId + ' message input', e)
            tasksComponent.enableSaveButton()
        })

        dispatcher.addListener('inputResult', ([e, taskId]) => {
            // console.log('task ' + taskId + ' result input', e)
            tasksComponent.enableSaveButton()
        });

        dispatcher.addListener('afterChangeStatus', ([e, task]) => {
            // may be reloading function is better inside a Task ..
            tasksComponent.reloadSingleTask(task).then(() => {
                redrawTasksList()
            });
        });

        dispatcher.addListener('hideDetailsPressed', (e) => {
            taskDetailsOuterDiv.style.display = 'none'
        });

        dispatcher.addListener('timerTick', () => {
            // console.log('timerTick called')

            if (tasksComponent.settings.reloadTasksOnTimer) {
                tasksComponent.reloadSettings().then(() =>
                    tasksComponent.reloadParticipants().then(() =>
                        tasksComponent.loadTasks().then(() => redrawTasksList())
                    )
                )
            }
        })

        dispatcher.addListener('onChangeTaskStatus', ([task, newStatus]) => {
            console.log('onChangeTaskStatus called')
            apiClient.changeTaskStatus(task.id, newStatus)
                .then((response) => {
                    if (response.status === 200) {
                        task.status = newStatus;
                    }
                    return response.json()
                })
                .then((json) => {
                    console.log('response from api after changing task status:', json)
                    dispatcher.dispatch('afterChangeStatus', [null, task]);
                })
        })

        dispatcher.addListener('onSaveTask', ([e, task, myVersionDto]) => {
            tasksComponent.handleUpdateTask(e,task, myVersionDto)
        })

        dispatcher.addListener('taskSelected', (task) => {
            tasksComponent.selectTask(task)
        })
    }

    // =============================================================================

</script>
</body>
</html>