<html lang="en">
<head>
    <title>test</title>
    <script src="/assets/js/task.js"></script>
    <script src="/assets/js/tasks-component.js"></script>
    <script src="/assets/js/dispatcher.js"></script>
    <script src="/assets/js/participant.js"></script>
</head>
<body>
    test

</body>
<script type="application/javascript">
    console.log('the test script');
    let dispatcher = new Dispatcher();
    let tasksComponent = new TasksComponent(dispatcher);
    tasksComponent.loadParticipants();
</script>
</html>