.task-line {
    /*border: solid thin blue;*/
}

.menu {

}

.tasks-list {
    overflow-y: scroll;
    height: 90%;
}

.task-line {
    padding: 1pt 1pt 3pt 0.5pt;
}

.task-details {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 3px;
    border: 3px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.task-line .message {
    /*border: solid thin red;*/
    width: 60%;
    float: left;
}

/* ------------------------------------------------
 - colors
 -------------------------------------------------- */

.status-sent .message {
    background-color: #EEE0D5;
}

.status-received .message {
    background-color: #E0B8C8;
}

.status-executing .message {
    background-color: lightgreen;
}

.status-finished .message {
    background-color: darkgreen;
    color: white;
}
.status-closed .message {
    background-color: darkslategrey;
    color: white;
}



.status-sent .status {
    background-color: #EEE0D5;
}

.status-received .status {
    background-color: saddlebrown;
    color: white;
}

.status-executing .status {
    background-color: lightgreen;
}

.status-finished .status {
    background-color: darkgreen;
    color: white;
}

.status-closed .status {
    background-color: darkslategrey;
    color: white;
}

/*.change-status-button.status-new {*/
/*    background-color: white;*/
/*}*/

/*.change-status-button.status-sent {*/
/*    background-color: rosybrown;*/
/*}*/

/*.change-status-button.status-received {*/
/*    background-color: saddlebrown;*/
/*    color: white;*/
/*}*/

/*.change-status-button.status-executing {*/
/*    background-color: greenyellow;*/
/*}*/

/*.change-status-button.status-finished {*/
/*    background-color: darkgreen;*/
/*    color: white;*/
/*}*/


.change-status-button.status-closed {
    background-color: darkslategrey;
    color: white;
}


/* ------------------------------------------------
 - colors
 -------------------------------------------------- */



.task-line .status {
    width: 10%;
    float: left;
}

.task-line .delete-button {
    width: 20pt;
    float: left;
}

.task-line .change-status-button {
    float: left;
}

.task-line .task-date {
    border: solid black thin;
    float: left;
}


.clear {
    clear: both;
}

.task-line .change-status-button {
    min-width: 100pt;
}