.task-line {
    /*border: solid thin blue;*/
}

.menu {

}

.tasks-list {
    overflow-y: scroll;
    height: 90%;
}

.task-line {
    padding: 1pt 1pt 3pt 0.5pt;
}

.task-line > * {
    margin-left: 1pt;
}

.task-line.selected {
    border: solid thin black;
}

.task-details {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 3px;
    border: 3px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    resize: both;
    min-width: 200px;
    min-height: 150px;
}

.task-details-drag-handle {
    background-color: #ff8c00;
    color: white;
    padding: 5px 10px;
    cursor: move;
    user-select: none;
    font-weight: bold;
    margin: -3px -3px 5px -3px;
}

.task-details-drag-handle:hover {
    background-color: #ff7700;
}

.task-details-minimize-button {
    float: right;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 5px;
    line-height: 1;
}

.task-details-minimize-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.task-line .message {
    /*border: solid thin red;*/
    width: 60%;
    float: left;
}

.task-line .display-task-details-button {
    float: left;
}

/* ------------------------------------------------
 - colors
 -------------------------------------------------- */

.status-sent > .message {
    background-color: #EEE0D5;
}

.status-received > .message {
    background-color: #E0B8C8;
}

.status-executing > .message {
    background-color: lightgreen;
}

.status-finished > .message {
    background-color: darkgreen;
    color: white;
}
.status-closed > .message {
    background-color: darkslategrey;
    color: white;
}

.task-line .task-participants {
    float: left;
    width: 90pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.status-sent > .status {
    background-color: #EEE0D5;
}

.status-received > .status {
    background-color: saddlebrown;
    color: white;
}

.status-executing > .status {
    background-color: lightgreen;
}

.status-finished > .status {
    background-color: darkgreen;
    color: white;
}

.status-closed > .status {
    background-color: darkslategrey;
    color: white;
}

/*.change-status-button.status-new {*/
/*    background-color: white;*/
/*}*/

/*.change-status-button.status-sent {*/
/*    background-color: rosybrown;*/
/*}*/

/*.change-status-button.status-received {*/
/*    background-color: saddlebrown;*/
/*    color: white;*/
/*}*/

/*.change-status-button.status-executing {*/
/*    background-color: greenyellow;*/
/*}*/

/*.change-status-button.status-finished {*/
/*    background-color: darkgreen;*/
/*    color: white;*/
/*}*/


.change-status-button.status-closed {
    background-color: darkslategrey;
    color: white;
}


/* ------------------------------------------------
 - colors
 -------------------------------------------------- */



.task-line .status {
    width: 10%;
    float: left;
}

.task-line .delete-button {
    width: 20pt;
    float: left;
    background-color: white;
    color: red;
    border: none;
}

.add-task {
    background-color: white;
    color: limegreen;
    border: none;
    font-size: 2em;
}

.reload-button {
    background-color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.reload-button:active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

.task-line .change-status-button {
    float: left;
}

.task-line .task-date {
    border: solid black thin;
    float: left;
    width: 54pt;
    text-align: right;
    padding-right: 3pt;
}


.clear {
    clear: both;
}

.task-line .change-status-button {
    min-width: 100pt;
}

.task-line .late-none {
    float: left;
    width: 54pt;
    text-align: right;
    padding-right: 3pt;
}

.task-line .late-soft {
    background-color: yellow;
    float: left;
    width: 54pt;
    text-align: right;
    padding-right: 3pt;
}

.task-line .late-severe {
    background-color: red;
    color: white;
    float: left;
    width: 54pt;
    text-align: right;
    padding-right: 3pt;
}

.task-line .expand-button {
    float: left;
    width: 15pt;
}

.expand-button::before {
    content: '▸';
}

.expanded > .expand-button::before {
    content: '▾';
}

.task-line .child-prefix {
    float: left;
    width: 25pt;
    text-align: right;
    padding-right: 5pt;
}

.task-line .childless-prefix {
    float: left;
    width: 15pt;
}


.task-group .task-line {
    display: none;
}

.task-group.expanded .task-line {
    display: block;
}

/* ------------------------------------------------
 - Participants styles
 -------------------------------------------------- */

.participants-container {
    overflow-y: scroll;
    height: 90%;
}

.participant-line {
    padding: 1pt 1pt 3pt 0.5pt;
}

.participant-line > * {
    margin-left: 1pt;
}

.participant-line .delete-button {
    width: 20pt;
    float: left;
    background-color: white;
    color: red;
    border: none;
}

.participant-line .participant-id {
    width: 40pt;
    float: left;
}

.participant-line .participant-name {
    float: left;
    min-width: 250pt;
    cursor: pointer;
}

.participant-line .participant-name-input {
    float: left;
}

.add-participant {
    background-color: white;
    color: limegreen;
    border: none;
    font-size: 2em;
}

.participant-line .display-participant-fields-button {
    float: left;
}
.participant-line  .participant-hidden-fields {
    float: left;
}

.hidden {
    display: none;
}

.participant-hidden-fields .participant-token {
    margin-left: 1pt;
    margin-right: 1pt;
    min-width: 200pt;
    border: darkorange solid thin;
    display: inline-block;
    padding-left: 1pt;
}

.participant-hidden-fields .participant-password {
    margin-left: 1pt;
    margin-right: 1pt;
    min-width: 50pt;
    border: darkorange solid thin;
    display: inline-block;
    padding-left: 2pt;
}

.participant-hidden-fields .participant-regenerate-button {
    margin-left: 1pt;
    margin-right: 1pt;
}

.current-user-data {
    float: right;
}