.task-line {
    border: solid thin blue;
}

.menu {

}

.tasks-list {

}

.task-line {
    padding: 1pt 1pt 3pt 0.5pt;
}

.task-details {

}

.task-line .message {
    /*border: solid thin red;*/
    width: 60%;
    float: left;
}


.status-sent .message {
    background-color: #EEE0D5;
}

.status-received .message {
    background-color: #E0B8C8;
}

.status-executing .message {
    background-color: lightgreen;
}

.status-finished .message {
    background-color: darkgreen;
    color: white;
}
.status-closed .message {
    background-color: darkslategrey;
    color: white;
}


.status-sent .status {
    background-color: #EEE0D5;
}

.status-received .status {
    background-color: saddlebrown;
    color: white;
}

.status-executing .status {
    background-color: lightgreen;
}

.status-finished .status {
    background-color: darkgreen;
    color: white;
}



.status-closed .status {
    background-color: darkslategrey;
    color: white;
}

.task-line .status {
    /*border: solid thin green;*/
    width: 10%;
    float: left;
}

.task-line .delete-button {
    /*border: solid thin yellow;*/
    width: 20pt;
    float: left;
}

.task-line .change-status-button {
    /*border: solid thin violet;*/
    float: left;
}

/*.change-status-button.status-new {*/
/*    background-color: white;*/
/*}*/

/*.change-status-button.status-sent {*/
/*    background-color: rosybrown;*/
/*}*/

/*.change-status-button.status-received {*/
/*    background-color: saddlebrown;*/
/*    color: white;*/
/*}*/

/*.change-status-button.status-executing {*/
/*    background-color: greenyellow;*/
/*}*/

/*.change-status-button.status-finished {*/
/*    background-color: darkgreen;*/
/*    color: white;*/
/*}*/

.change-status-button.status-closed {
    background-color: darkslategrey;
    color: white;
}

.clear {
    clear: both;
}

.task-line .change-status-button {
    min-width: 100pt;
}